<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>My Site</title>
</head>
<body>
    <h1>Password Reset</h1>
    <div id="main">
        <form method="post" action="">
            <fieldset>
                {% csrf_token %}
                
                {{ form.as_p }}
                
                <input type="submit" id="send" value="Send">
            </fieldset>
        </form>
    </div>
</body>
</html>